<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The pet</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="header-wrap">
        <%- include("partials/header.ejs") %>
    </div>
    <!-- end header -->
    <div class="pet-wrap">
        <div class="container">
            <img src="../img/img-main/<%= onePet.img %>" alt="<%= onePet.name %>">
            <div class="content">
                
                <h1><%= onePet.name %></h1>
                <h2><%= onePet.breed %></h2>
                <p><%= onePet.pet_about %>
                </p>
                <ul>
                    <li><span>Age: </span><%= onePet.age %></li>
                    <li><span>Inoculations: </span><%= onePet.inoculations %></li>
                    <li><span>Diseases: </span><%= onePet.diseases %></li>
                    <li><span>Parasites: </span><%= onePet.parasites %></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="col-1">
                <span>For questions <br>
                    and suggestions</span>
                <span class="e-mail">email@shelter.com</span>
                <span class="phone">+13 674 567 75 54</span>
            </div>
            <div class="col-2">
                <span>We are waiting <br>
                    for your visit</span>
                <span class="loc-1">Boston, Central Street, 1st <br>
                    (Entrance from the store)</span>
                <span class="loc-2">London, South Park, 18st</span>
            </div>
            <img src="../img/img-main/Dog-footer.png" alt="Dog">
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // мобильное меню
            var burger = document.querySelector('.burger-container'),
                header = document.querySelector('.header-mobile');

            burger.onclick = function () {
                header.classList.toggle('menu-opened');
            }
        })
    </script>
</body>