<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our shelter pets</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="header-wrap">
        <%- include("partials/header.ejs") %>
    </div>
    <!-- end header -->
    <div class="pets-page-wrap">
        <div class="container">
            <div class="h1-pets">
                <h1>Our friends who <br>
                    are looking for a house</h1>
            </div>
            <div class="all-pets">
                <% for(var i=0; i < petsArray.length; i++ ) {%>
                <div class="pet">
                    <img src="./img/img-main/<%= petsArray[i].preview_img %>" alt="<%=petsArray[i].name %>">
                    <span class="pets-name"><%=petsArray[i].name %> </span>
                    <a href="/pets/<%=petsArray[i].id %>-<%=petsArray[i].name %>"><button
                            class="learn-more-button">Learn More</button></a>
                </div>
                <%} %>

            </div>
            <div class="pets-pagination">
                <% if(currentPage > 2) {%>
                <a href="/pets?page=1 %>">1</a>
                <span>...</span>
                <%} %>

                <% for(var i=0; i < pagesNum.length; i++ ) {%>

                <% if(pagesNum[i] == currentPage) {%>
                    
                <a class="active" href="/pets?page=<%=pagesNum[i] %>"><%=pagesNum[i] %></a>

                <%} else {%>

                <a href="/pets?page=<%=pagesNum[i] %>"><%=pagesNum[i] %></a>

                <%} %>
                <%} %>

                <% if(currentPage != lastPage && currentPage != lastPage - 1) {%>
                <span>...</span>
                <a href="/pets?page=<%=lastPage %>"><%=lastPage %></a>
                <%} %>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script src="./js/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".learn-more-button")
                .mouseover(function () {
                    $(this).parent().parent().addClass("hovered")
                    console.log("it works")
                    console.log($(this).parent())
                })
                .mouseout(function () {
                    $(this).parent().parent().removeClass("hovered")
                })

            // мобильное меню
            var burger = document.querySelector('.burger-container'),
                header = document.querySelector('.header-mobile');

            burger.onclick = function () {
                header.classList.toggle('menu-opened');
            }

        })
    </script>
</body>